html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 22px; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a {
  color: #069;
  text-decoration: none; }
  a:hover {
    color: #e75d24; }

h3 {
  font-family: 'Poly', serif;
  font-size: 22px;
  color: #111;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px #fff; }

p, dl, dd, address {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.one {
  float: left;
  margin-right: 40px;
  width: 270px; }

.prepend-one {
  margin-left: 310px; }

.two {
  float: left;
  margin-right: 40px;
  width: 580px; }

.prepend-two {
  margin-left: 620px; }

.three {
  float: left;
  margin-right: 40px;
  margin-right: 0;
  width: 890px; }

.prepend-three {
  margin-left: 930px; }

.last {
  margin-right: 0; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  height: 100%;
  background: url("/images/bamboo.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }

body {
  color: #333; }

.wrapper {
  margin: 0px auto;
  width: 900px; }

#header {
  border-bottom: 1px solid #555;
  background-color: #f7f7f7; }

header {
  padding: 20px 0px;
  position: relative; }
  header h1#logo {
    background: transparent url("/images/city-health-and-massage-logo.png") no-repeat top left;
    height: 200px;
    width: 344px;
    text-indent: -999em;
    overflow: hidden; }
  header address {
    font-style: normal;
    text-align: right;
    position: absolute;
    right: 40px;
    bottom: 40px; }
    header address a {
      color: #999; }

footer {
  color: #aaa;
  font-size: 12px;
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center; }
  footer a {
    color: #888;
    border-bottom: 1px dotted #888; }

div.catch {
  z-index: 2;
  position: relative;
  border-top: 1px solid #888;
  font-family: 'Poly', serif;
  padding: 20px 0px;
  font-size: 42px;
  text-align: center;
  line-height: 66px;
  background: #333333 url("/images/bg/tactile_noise.png") repeat top left;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8); }
  div.catch em {
    color: #e75d24;
    font-style: normal; }
  div.catch .wrapper div {
    padding: 0px 40px; }

#main {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  padding: 3em 20px 0px;
  width: 860px; }
  #main p {
    margin-bottom: 1.0em;
    line-height: 23px; }
  #main .one {
    width: 260px; }
  #main .two {
    width: 560px; }

dl {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  dl dt {
    float: left;
    padding: 8px 0px 8px 20px; }
  dl dd {
    text-align: right;
    display: block;
    padding: 8px 20px 8px 0px;
    border-bottom: 1px dotted #b2b2b2; }
    dl dd:last-child {
      border-bottom: none; }

#testimonials ul li {
  background-color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 10px 20px;
  overflow: auto;
  clear: both;
  margin-bottom: 1em; }
  #testimonials ul li p {
    margin-top: 1em;
    font-style: italic; }
    #testimonials ul li p.author {
      text-align: right; }

#gallery {
  height: 364px;
  margin-bottom: 3em; }
  #gallery img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    width: 100%; }
  #gallery figure {
    width: 560px;
    position: absolute; }
  #gallery figcaption {
    position: absolute;
    bottom: 0px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.6);
    color: #eee;
    font-size: 11px;
    text-indent: 10px;
    line-height: 20px;
    width: 560px; }

.section {
  margin-bottom: 4em; }

#location iframe {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5em; }
#location a {
  float: right; }
