body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #069;
  text-decoration: none;
  &:hover { color: $ch_orange; }
}


h3 {
  font-family: 'Poly', serif;
  font-size: 22px;
  color: #111;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px #fff;
}

p, dl, dd, address, li {
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

small {
  font-size: 0.9em;
  color: #777;
}